@page
@model Makta.Areas.Identity.Pages.Account.AccessDenied
@{
}



<div class="row" style="justify-content: center; align-content: center; position: absolute; top: 0; bottom: 0; left: 0; right: 0 ">

    <div class="col-md-9 col-xs-12" id="loginPartial" style="display: flex; margin-right: auto; margin-left: auto; flex-direction: column;">

        <div class="row col-md-7 col-xs-12" style="flex: 1 1 auto; margin: auto">
            <br />
            <div class="row" style="justify-content: center; align-content: center">
                <img src="~/AccessDenied.jpg" asp-append-version="true" width=500 height=500 />
            </div>

        </div>

    </div>

</div>

