@page
@model LogoutModel
@{
    ViewData["Title"] = "Logged out";
}

<header>
    <h3>@ViewData["Title"]</h3>
    <p>You have successfully logged out of the application.</p>
    <p><a href="/" target="_self">Back to Home Page</a></p>
</header>